/* Body */

body {
  background-color: #f8f9f9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #223f55;
}

a:hover,
a:visited:hover {
  text-decoration: underline;
  color: #af3800;
}

a:visited {
  color: #6c91bf;
}

/* Header */

.header {
  box-sizing: border-box;
  color: #223f55;
  display: flex;
  justify-content: space-between;
}

.header--small-screen-hidden {
  display: none;
}

.header__report-button {
  float: right;
  height: 2.5em;
  background-color: #af3800;
  color: #f8f9f9;
  border: none;
  margin: 5px;
}

.header__report-button:hover,
.header__report-button:disabled {
  background-color: #6c91bf;
}

@media (min-width: 850px) {
  .header--small-screen-hidden {
    display: block;
  }
}

/* Navigation button */

.navigation-button {
  text-decoration: underline;
}

/* Heading */

.heading {
  display: flex;
  box-sizing: border-box;
}

.heading--center {
  justify-content: center;
}

/* Latest News */

.latest-news-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "grid1"
    "grid2"
    "grid3";
}

@media (min-width: 850px) {
  .latest-news-grid {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "grid1 grid3"
      "grid2 .";
  }
}

/* Article */

.article {
  box-sizing: border-box;
  color: #223f55;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
  grid-template-areas:
    "top-left-button  .             top-right-button"
    "headline         headline      headline"
    ".                .             topic"
    ".                .             timestamp"
    "image            image         image"
    "body             body          body"
    ".                .             author"
    "vote-widget      comment       comment"
    "comment-list     comment-list  comment-list";
  max-width: 800px;
  margin: auto;
}

@media (min-width: 850px) {
  .article {
    grid-template-columns: 3fr 3fr 1fr 3fr 1fr;
    grid-template-areas:
      "top-left-button  .         image         image         image"
      "headline         topic     image         image         image"
      ".                timestamp image         image         image"
      "body             body      image         image         image"
      "body             body      .             .             author"
      "body             body      vote-widget   comment       ."
      "body             body      comment-list  comment-list  comment-list";
  }
}

.article__error {
  grid-area: body;
}

.article__headline {
  grid-area: headline;
}

.article__topic {
  grid-area: topic;
  text-align: right;
}

.article__timestamp {
  grid-area: timestamp;
  text-align: right;
}

.article__image {
  grid-area: image;
  max-width: 100%;
  height: auto;
}

.article__body {
  grid-area: body;
}

.article__author {
  grid-area: author;
  text-align: right;
}

/* Article list */

.article-list {
  box-sizing: border-box;
  color: #223f55;
  grid-area: grid1;
  max-width: 800px;
  margin: auto;
}

/* Article card */

.article-card {
  box-sizing: border-box;
  color: #223f55;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.article-card__section {
  max-width: 45%;
}

.article-card__image {
  height: 100%;
}

/* Article composer */

.article-composer {
  box-sizing: border-box;
  color: #223f55;
  margin: 5px auto;
  width: 80%;
}

.article-composer * {
  margin: 5px 0;
}

.article-composer__button {
  height: 4em;
  background-color: #af3800;
  color: #f8f9f9;
  border: none;
}

.article-composer__button:hover,
.article-composer__button:disabled {
  background-color: #6c91bf;
}

.article-composer__title * {
  height: 1.5em;
  width: 70%;
}

.article-composer__body * {
  height: 15em;
  width: 100%;
}

.article-composer__image-url * {
  height: 1.5em;
  width: 50%;
}

.article-composer__topic {
  height: 1.5em;
}

/* Comment composer */

.comment-composer {
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  color: #223f55;
  grid-area: comment;
  width: 100%;
  margin: 5px;
}

.comment-composer__button {
  height: 4em;
  background-color: #af3800;
  color: #f8f9f9;
  border: none;
}

.comment-composer__button:hover,
.comment-composer__button:disabled {
  background-color: #6c91bf;
}

.comment-composer__input {
  height: 5em;
}

/* Comment list */

.comment-list {
  grid-area: comment-list;
}

/* Comment card */

.comment-card {
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: #223f55;
  color: #f8f9f9;
}

.comment-card--disabled {
  background-color: #6c91bf;
  color: #f8f9f9;
}

.comment-card--disabled::before {
  content: "Deleting...";
}

.comment-card__button {
  background-color: #af3800;
  color: #f8f9f9;
  border: none;
}

.comment-card--disabled .comment-card__button {
  visibility: hidden;
}

.comment-card__comment {
  background-color: transparent;
}

.comment-card__author {
  background-color: transparent;
  text-align: right;
}

.comment-card__timestamp {
  background-color: transparent;
  text-align: right;
  font-style: italic;
}

.comment-card__lower {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.comment-card__error {
  background-color: transparent;
  color: red;
}

/* Load button */

.load-button {
  box-sizing: border-box;
  grid-area: grid2;
}

/* Sorting widget */

.sort-widget {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  margin: 10px;
}

.sort-widget__label {
  margin: 0 5px;
}

.sort-widget__option {
  border: none;
  background-color: #223f55;
  color: #f8f9f9;
}

.sort-widget__option--selected {
  background-color: #af3800;
}

/* Topic list */

.topic-list {
  grid-area: grid3;
  box-sizing: border-box;
}

.topic-list__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Vote widget */

.vote-widget {
  display: flex;
  gap: 5px;
  box-sizing: border-box;
  grid-area: vote-widget;
}

.vote-widget__button {
  margin: 10px;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #af3800;
  color: #f8f9f9;
  border: none;
}

.vote-widget__button:hover {
  background-color: #6c91bf;
}

.vote-widget--error {
  padding: 10px 0;
  background-color: transparent;
  color: red;
}
